---
---


<button
  data-searchpost
  class="p-4 md:p-8 w-full inline-block"
>
  <span>搜尋</span>
</button>
<script>
  import querySearch from "@utils/querySearch.js";
  console.log(querySearch());
</script>
