---
import Base from "@layouts/Base.astro";
import PageBanner from "@components/Banner/PageBanner.astro";
import Pill from "@components/Pill.astro";
import { queryFetch } from "@utils/queryFetch";
const category = await queryFetch(`{
	category{
    data{
      attributes{
        name
        slug
      }
    }
  }
}
`).then((result) => result.data.category.data);
const title = "文章分類";
const description = "所有文章的大分類";
---

<Base>
  <PageBanner title={title} description={description} />
  <ul class="gap-2 mx-8 flex">
    {
      category.map((category) => (
        <li class="text-3xl">
            <Pill>
              <a href={`/post/categories/${category.attributes.slug}`}>
                {category.attributes.name}
              </a>
            </Pill>
          </li>
      ))
    }
  </ul>
</Base>
