@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-50: #f7f7f7;
  --primary-color-100: #e3e3e3;
  --primary-color-200: #c8c8c8;
  --primary-color-300: #a4a4a4;
  --primary-color-400: #818181;
  --primary-color-500: #666666;
  --primary-color-600: #515151;
  --primary-color-700: #434343;
  --primary-color-800: #383838;
  --primary-color-900: #000000;

  --color-primary: #7d7aff;
  --color-gradient-1: #7d7aff;
  --color-gradient-2: #2121e2;
  --color-gradient-3: #00fff0;
  --color-gradient-4: #8785ff;
}

@layer base {
  .bg-default {
    @apply bg-white dark:bg-primary-800;
  }

  .text-default {
    @apply text-primary-800 dark:text-primary-100;
  }

  .border-default {
    @apply border-black dark:border-primary-600;
  }
}
