---
import Base from "@layouts/Base.astro";
import PageBanner from "@components/Banner/PageBanner.astro";
import Card from "@components/Card.astro";
import { queryFetch } from "@utils/queryFetch";
const categories = await queryFetch(`{
	categories{
    data{
      attributes{
        name
        slug
      }
    }
  }
}
`).then((result) => result.data.categories.data);
const title = "文章分類";
const description = "所有文章的大分類";
---

<Base>
  <PageBanner title={title} description={description} />
  {
    categories.map((category) => (
      <ul>
        <li>
          <Card>
            <a href={`/post/categories/${category.attributes.slug}`}>
              {category.attributes.name}
            </a>
          </Card>
        </li>
      </ul>
    ))
  }
</Base>
