<div
  class="transition bg-opacity-60 hover:bg-opacity-100 relative block p-6 bg-white rounded-lg border border-primary-200 dark:bg-primary-800 dark:border-primary-700 dark:hover:bg-primary-700"
>
  <slot />
</div>
