---
import Base from "@layouts/Base.astro";
import Button from "@components/Button/Button.astro";
const title = "404 頁面";
const description = "這個網頁並不存在";
---

<Base title={title} description={description}>
  <section class=" text-center min-h-[inherit] flex items-center justify-center flex-col">
    <h1 class="text-3xl">
      <div class="text-8xl font-semibold mb-8">404</div>
      <div>您所搜尋的頁面並不存在</div>
    </h1>
    <div class="my-8 mt-12">
      <Button href="/">回首頁</Button>
      <Button href="/post">找所有文章</Button>
    </div>
  </section>
</Base>
