---
import Base from "@layouts/Base.astro";
import HeroBanner from "@components/Banner/HeroBanner.astro";
import removeHTMLTag from "@utils/removeHTMLTag";
const title = "關於";
const description = "關於我們";
---

<Base title={title} description={description}>
  <HeroBanner
    title="哈囉，我是宗瑋。 <br>目前主要在六角學院擔任前端實習助教與獨立接案。<br>學習橫跨設計與開發大大小小的事"
  >
    <img slot="image" width="600" src="/images/hero-banner.svg" alt="a" />
  </HeroBanner>
  <div class="prose dark:prose-invert mx-8">
    <h2>關於我</h2>
    <p>
      在很久以前還是個設計師，但在過程中慢慢發覺前端開發更適合我想做的事，期間獨立接案與在六角擔任助教協助同學都是讓我感到充滿熱誠的事情。
    </p>
    <p>除了分享所學之外，也非常熱衷於學習新技術與嘗試各種不同的領域。</p>
  </div>
</Base>
