---
import { SITE_DESCRIPTION } from "@config";
import Base from "@layouts/Base.astro";
import HeroBanner from "@components/Banner/HeroBanner.astro";
import Card from "@components/Card/Card.astro";
import PostCard from "@components/Card/PostCard.astro";
import ButtonMinium from "@components/Button/ButtonMinimum.astro";
import { queryFetch } from "@utils/queryFetch";

const { heroBanner, info } = await queryFetch(`{
  home{
  	data{
      attributes{
        heroBanner
        info
      }
    }
  }
}`).then((result) => result.data.home.data.attributes);

const posts = await queryFetch(`{
    posts(pagination: { start:0, limit: 3}) {
      data {
        attributes {
          featuredIcon {
            data {
              attributes {
                url
                width
                height
              }
            }
          }
          slug
          date
          titletc
          excerpt
          tags{
            data{
              attributes{
                name
                slug
              }
            }
          }
          category{
            data{
              attributes{
                name
                slug
              }
            }
          }
          content
        }
      }
    }
  }
  `).then((result) => result.data.posts.data);
---

<Base>
  <HeroBanner title={heroBanner}>
    <div slot="cta">
      <ButtonMinium href="#">
        觀看更多文章
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 inline-block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
        </svg>
      </ButtonMinium>
    </div>
  </HeroBanner>
  <section class="px-4">
    <div
      class="grid md:grid-cols-4 grid-cols-1 gap-y-4 md:gap-x-4 mt-8 md:mt-0"
    >
      <!-- Intro -->
      <Card>
        <img
          src="/images/me/riceball.webp"
          class="bg-gradient-to-b from-primary-50 to-primary-900 rounded-lg absolute top-0 left-0 transform-gpu ml-6 -translate-y-1/2"
          alt="一顆在旋轉飯糰(我的個人頭貼)"
          width="64"
          height="64"
        />
        <div class="flex flex-col justify-between h-full pt-8">
          <h2 class="sr-only">近期文章</h2>
          <p class="text-xl mb-8">{info}</p>
          <ButtonMinium href="mailto:bottle200918@gmail.com">
            提供意見
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
            </svg>
          </ButtonMinium>
        </div>
      </Card>

      {
        posts.map((post) => {
          return <PostCard post={post.attributes} />;
        })
      }
    </div>
  </section>
</Base>
