---
import Base from "@layouts/Base.astro";
import HeroBanner from "@components/Banner/HeroBanner.astro";
import Card from "@components/Card/Card.astro";
import PostCard from "@components/Card/PostCard.astro";
import ButtonMinium from "@components/Button/ButtonMinimum.astro";
import { queryFetch } from "@utils/queryFetch";

const { heroBanner, info } = await queryFetch(`{
  home{
  	data{
      attributes{
        heroBanner
        info
      }
    }
  }
}`).then((result) => result.data.home.data.attributes);

const posts = await queryFetch(`{
    posts(pagination: { start:0, limit: 3}, sort: "createdAt:desc") {
      data {
        attributes {
          themeColor
          featuredIcon {
            data {
              attributes {
                url
                width
                height
                alternativeText
              }
            }
          }
          slug
          date
          titletc
          excerpt
          tags{
            data{
              attributes{
                name
                slug
              }
            }
          }
          category{
            data{
              attributes{
                name
                slug
              }
            }
          }
          content
        }
      }
    }
  }
  `).then((result) => result.data.posts.data);
---

<Base>
  <HeroBanner title={heroBanner} />
  <section class="px-4">
    <div
      class="grid lg:grid-cols-4 grid-cols-1 gap-y-4 md:gap-x-4 mt-8 md:mt-0"
    >
      <!-- Intro -->
      <Card>
        <img
          src="/images/me/riceball.webp"
          class="bg-primary-500 from-primary-50 to-primary-900 rounded-lg absolute top-0 left-0 transform-gpu ml-6 -translate-y-1/2"
          alt="一顆在旋轉飯糰(個人頭貼)"
          width="64"
          height="64"
        />
        <div class="flex flex-col justify-between h-full pt-8 ">
          <h2 class="sr-only">近期文章</h2>
          <p class="text-xl mb-16">{info}</p>
          <a href="https://6lq5056dq0f.typeform.com/to/lxR072rZ" class="-mx-6 -mb-6 px-6 py-6 border-t border-t-primary-200 dark:border-t-primary-500 border-primary-200 text-left rounded-br-lg rounded-bl-lg hover:bg-primary-200 dark:hover:bg-primary-600">

              提供意見
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 inline-block"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
              </svg>
            </a>
       
        </div>
      </Card>

      {
        posts.map((post) => {
          return <PostCard post={post.attributes} />;
        })
      }
    </div>
  </section>
</Base>
