---
import { SITE_DESCRIPTION } from "@config";
import Base from "@layouts/Base.astro";
import HeroBanner from "@components/Banner/HeroBanner.astro";
import Card from "@components/Card.astro";
import Button from "@components/Button/Button.astro";
import ButtonGhost from "@components/Button/ButtonGhost.astro";
import PostCard from "@components/PostCard.astro";
const posts = await Astro.glob("../pages/post/*.{md,mdx}");
---

<Base>
  <HeroBanner title={SITE_DESCRIPTION}>
    <div slot="cta">
      <Button href="#">關於</Button>
      <ButtonGhost href="#">文章</ButtonGhost>
    </div>
    <img
      slot="image"
      width="600"
      height="600"
      src="/images/hero-banner.svg"
      alt="hero-banner"
    />
  </HeroBanner>
  <section class="px-4">
    <div class="grid md:grid-cols-4 grid-cols-1 gap-4">
      <div>
        <h2 class="sr-only">近期文章</h2>
        <Card>
          <p class="text-xl">
            <img
              class="-mt-40"
              slot="image"
              width="600"
              height="600"
              src="/images/placeholder.svg"
              alt="placeholder"
            />

            我撰寫文章，範圍涵蓋了設計思考、前端開發、現代程式設計……等議題。
            <br />
            <br />
            <Button href="#">非常歡迎您 提供寶貴的意見</Button>
          </p>
        </Card>
      </div>
      <div class="col-span-3">
        <ul class="flex gap-4">
          {posts.slice(0, 3).map((post) => <PostCard post={post} />)}
        </ul>
      </div>
    </div>
  </section>
</Base>
