---
  export async function getStaticPaths() {
    const posts = await Astro.glob('../../contents/posts/*.md')

    return posts.map(post => ({
      params: {
        slug: post.frontmatter.slug
      },
      props: {
        post
      }
    }))
  }

  const {Content, frontmatter} = Astro.props.post
---

<h1>tesst{frontmatter.title}</h1>