---
import Base from "@layouts/Base.astro";
import PageBanner from "@components/Banner/PageBanner.astro";
import { queryFetch } from "@utils/queryFetch";
import CardGallery from "@components/Card/CardGallery.astro";
import PostCard from "@components/Card/PostCard.astro";
const posts = await queryFetch(`{
    posts {
      data {
        attributes {
          themeColor
          slug
          featuredIcon {
            data {
              attributes {
                url
                width
                height
                alternativeText
              }
            }
          }
          date
          titletc
          excerpt
          content
          tags{
            data{
              attributes{
                name
                slug
              }
            }
          }
          category{
            data{
              attributes{
                name
                slug
              }
            }
          }
        }
      }
    }
  }
  `).then((result) => result.data.posts.data);

const title = "所有文章";
const description = "所有種類的文章";
---

<Base title={title}>
  <PageBanner title={title} description={description} />
  <section class="px-4">
    <CardGallery>
      {
        posts.map((post) => {
          return <PostCard post={post.attributes} />;
        })
      }
    </CardGallery>
  </section>
</Base>
