  <div data-search-modal class="searchModal--disable fixed top-0 left-0 w-full h-full justify-center items-center filter backdrop-blur-xl">
    <form data-search-form class="dark:bg-primary-50 text-primary-800 rounded-lg overflow-hidden  mx-4">
      <div class="w-full">
        <input class="w-full text-xl md:text-3xl px-4 py-8" data-search-input name="searchInput" type="text" placeholder="請輸入要找的文章">
        <ul data-search-list>
        </ul>
      </div>
    </form>
  </div>

<style>
.searchModal--disable {
  display: none;
}
.searchModal--enable {
  display: flex;
}


</style>