---
import Pill from "@components/Pill.astro";
const {name, slug} = Astro.props.category
---
<a class="relative mr-4 opacity-40 hover:opacity-100 whitespace-nowrap" href=`/post/categories/${slug}`>
    {"@" + name}
</a>
