---
import Pill from "@components/Pill.astro";

---
<!-- 
<ul>
  {
    category.map((category, index) => (
      <Fragment>
        <li class="inline-block">
          <a class="" href=`/post/categories/${category.attributes.slug}`>
            <Pill>
              {category.attributes.name}
            </Pill>
          </a>
        </li>
        {category.length === index + 1 ? "" : <span class="mx-1">/</span> }
      </Fragment>
    ))
  }
</ul> -->
