---
const {tags} = Astro.props

---
<ul class="flex gap-4">
  {
  tags.map(tag => (
    <li>
      <a class="opacity-40 hover:opacity-100" href=`/post/tags/${tag.attributes.slug}`>
          # {tag.attributes.name}
      </a>
    </li>
    ))
  }
</ul>
