---
---

<div class="block p-6 max-w-sm bg-white rounded-lg border border-primary-200 shadow-md hover:bg-primary-100 dark:bg-primary-800 dark:border-primary-700 dark:hover:bg-primary-700">
  <slot></slot>
</div>