---
const today = new Date();
import {SITE_COPYRIGHT} from "@config"
---

<footer>
	<span>
		<Fragment set:html={SITE_COPYRIGHT}/>
		<Fragment set:html={`Last Updated at ${today.getFullYear()}`}/>
	</span>
</footer>
