---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, item, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
let isHome = "";
if (item.url === "/") {
  isHome = "md:block hidden";
}
---

<li class="inline-block flex-1">
  <a
    href={href}
    class={`w-full p-8 inline-block ${isHome}`}
    class:list={[className, { isActive: isActive }]}
    {...props}
  >
    <slot />
  </a>
</li>

<style>
  a.isActive {
    @apply bg-primary-300;
  }
</style>
