---
import NavbarLink from "@components/NavbarLink.astro";
import { SITE_BRAND, SITE_NAV } from "@config";
---

<nav
  class="fixed bottom-0 left-0 flex items-center justify-between w-full sm:static z-50"
>
  <div class="grid grid-cols-3 md:grid-cols-2 w-full whitespace-nowrap">
    <!-- Brand -->
    <h2>
      <a class="font-bold p-4 md:p-8 inline-block text-xl" href="/">
        {SITE_BRAND}
      </a>
    </h2>

    <!-- Navbar List -->
    <div class="md:col-span-1 col-span-2">
      <ul class="flex text-center">
        {
          SITE_NAV.map((item) => (
            <NavbarLink href={item.url} item={item}>
              {item.name}
            </NavbarLink>
          ))
        }

        <li class="inline-block flex-1">
          <button onclick="alert('Nope')" class="p-8 w-full inline-block">
            <span>搜尋</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
