---
import NavbarLink from "@components/NavbarLink.astro";
import { SITE_BRAND, SITE_NAV } from "@config";
---
  <nav class="fixed bottom-0 left-0 flex items-center justify-between w-full sm:static">
    <h2>
      <a class="font-bold p-4" href="/">
        {SITE_BRAND}
      </a>
    </h2>
    <ul>
      {SITE_NAV.map(item => (
        <NavbarLink href={item.url}>{item.name}</NavbarLink>
      ))}
    </ul>
  </nav>
