---
import NavbarLink from "@components/NavbarLink.astro";
import { SITE_TITLE, SITE_NAV } from "@config";
---
<header>
  <h2>
    <a href="/">
      {SITE_TITLE}
    </a>
  </h2>
  <nav>
    {SITE_NAV.map(item => (
      <NavbarLink href={item.href}>{item.name}</NavbarLink>
    ))}
  </nav>
</header>
<style>

</style>
