---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<li class="inline-block flex-1">
  <a href={href} class="w-full p-4 inline-block" class:list={[className, { isActive: isActive }]} {...props}>
    <slot />
  </a>
</li>

<style>
  a.isActive {
    @apply bg-primary-300;
  }
</style>
