---
import Head from "@components/Head.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import SearchModal from "@components/Modal/SearchModal.astro";
const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-hant-tw" class="font-sans theme-toggle">
  <head>
    <slot name="head">
      <Head title={title} description={description} image={image} />
    </slot>
  </head>
  <body class="
  bg-primary-50 from-white dark:bg-primary-800  dark:from-primary-800 dark:to-primary-900

  text-primary-800 dark:text-primary-50

  border-debug dark:border-debug
  
    dark:bg-[url('/images/hero-banner/site-gradient-dark.svg')] bg-[url('/images/hero-banner/site-gradient-light.svg')] bg-no-repeat bg-cover bg-center 
  ">
    <Navbar />
    <div class="min-h-screen">
      <slot />
    </div>
    <Footer />
    <SearchModal />
  </body>
</html>
