---
import Head from "@components/Head.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html class="font-sans theme-toggle">
  <head>
    <slot name="head">
      <Head title={title} description={description} />
    </slot>
  </head>
  <body class="bg-default text-default">
    <Navbar />
    <div class="min-h-screen">
      <!-- <img
        class="absolute top-0 right-0 -z-10"
        src="https://tailwindcss.com/_next/static/media/docs-dark@30.77f062b5fd90f0d2cd4752cd9a8649c8.avif"
        alt=""
      /> -->
      <img
        class="absolute top-0 right-0 -z-10"
        src="/images/gradient.svg"
        alt=""
      />
      <slot />
    </div>
    <Footer />
  </body>
</html>
