---
import Head from "@components/Head.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="font-sans theme-toggle">
  <head>
    <slot name="head">
      <Head title={title} />
    </slot>
  </head>
  <body class="bg-default text-default">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
