---
import Head from "@components/Head.astro"
import CSSRoot from "@components/CSSRoot.astro"
---

<!DOCTYPE html>
<html>
  <head>
    <slot name="head">
      <Head />
      <CSSRoot/>
    </slot>
  </head>
  <body class="bg-default text-default border-default">
      <slot />
  </body>
</html>
