---
const { title } = Astro.props;
---

<section
  class="grid p-8 grid-cols-1 md:grid-cols-2 items-center justify-between"
>
  <div>
    <h1 class="leading-normal md:leading-normal text-2xl md:text-3xl">
      {title}
    </h1>
    <div class="mt-24 text-lg">
      <a class="underline" href="/about">關於網站</a>
      <a class="underline" href="/post">文章清單</a>
    </div>
  </div>
  <div class="flex justify-center">
    <slot name="image" />
  </div>
</section>
